<div class="card">
  <div class="card-header">
    Online Appointments
  </div>
  <div class="card-body">
    <form (ngSubmit)="onlineAppointments()" [formGroup]="taskForm">
        <div class="form-row">
          <div class="col">
              <div *ngFor="let s of status">
                <label [for]="s.name">
                  <input id="{{s.name}}" type="checkbox" (click)="addAppointmentStatus(s.id)">{{s.name}}
                </label>
                <!-- <label for="offline">
                  <input id="offline" type="checkbox" (click)="addAppointmentStatus(s.id)">Offline
                </label>
                <label for="Pending">
                  <input id="Pending" type="checkbox" (click)="addAppointmentStatus(s.id)">Pending
                </label> -->
              </div>
          </div>
          <div class="col">
            <label for="customerGroupId">Customer Group ID</label>
            <input type="number" class="form-control" id="customerGroupId" placeholder="Customer Group ID" formControlName="customerGroupId">
          </div>
          <div class="col">
            <label for="dateTime">Date</label>
            <input placeholder="Date" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" id="dateTime" class="form-control" formControlName="dateTime">
              <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
          </div>
          <div class="col">
            <label for="facilityId">facilityID</label>
            <input type="number" class="form-control" id="facilityId" placeholder="facilityId" formControlName="facilityId">
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2 float-right" [disabled]="!taskForm.valid">Submit</button>
      </form>
  </div>
</div>
<div>
  {{ taskForm.appointmentStatus | json }}
<br>
</div>
<div class="table-responsive-xl">
    <table class="table">
        <thead >
            <tr>
              <th scope="col">id</th>
              <th scope="col">appointmentDate</th>
              <th scope="col">appointmentNumber</th>
              <th scope="col">appointmentStatus</th>
              <th scope="col">doctorName</th>
              <th scope="col">email</th>
              <th scope="col">metaStatus</th>
              <th scope="col">patientName</th>
              <th scope="col">phoneNumber</th>
            </tr>
          </thead>
          <tbody *ngIf="tableData.length > 0; else elseBlock">
            <tr *ngFor="let data of tableData">
              <th scope="row"> {{ data.id }}</th>
              <td> {{ data.appointmentDate | date }} </td>
              <td> {{ data.appointmentNumber }} </td>
              <td> {{ data.appointmentStatus }} </td>
              <td>{{ data.doctorName }}</td>
              <td> {{ data.email }} </td>
              <td> {{ data.metaStatus }} </td>
              <td> {{ data.patientName }} </td>
              <td> {{ data.phoneNumber }} </td>
              <td> <appointment-modal [currentApp]="data"></appointment-modal> </td>
            </tr>
          </tbody>
          
          <ng-template #elseBlock>
            <tbody>
              <tr>
                <td colspan="9" class="text-center">no data found</td>
              </tr>
            </tbody>
          </ng-template>
    </table>
    <!-- <label class="example-input-wrapper">
      Date:
      <input placeholder="Date:"
             [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
      <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
  </label> -->

  </div>
