<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Appointments Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">ID: {{ currentApp.id }}</li>
            <li class="list-group-item">Date: {{ currentApp.appointmentDate | date }}</li>
            <li class="list-group-item">Patient Name: {{ currentApp.patientName }} </li>
            <li class="list-group-item">Patient Phone: {{ currentApp.phoneNumber }} </li>
            <li class="list-group-item">DoctorName: {{ currentApp.doctorName }} </li>
          </ul>
        </div>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div> -->
  </ng-template>
  
  <button class="btn btn-outline-primary" (click)="open(content)">View</button>
  
  
  <!-- <pre>{{closeResult}}{{ currentApp | json }}</pre> -->
  